@media screen and ( min-width: 769px ) {
	html {
	/* _mixin_lt_768 takes two args ( color, font-family ) */
	@include coolFonts( white );
	}

	body {
		max-width : 960px;
		@include coolFonts( white );
	}
}