$site_fonts: arial, monaco;
$cta_font_color: white;
$lilly-background: green;

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

.centerRelContent {
	margin: 0 auto;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing : border-box;
}

@mixin coolFonts ( $color: $cta_font_color, $family: $site_fonts ) {
	background-color: $color;
	font-family: $family;
}