.clearfix{zoom:1}.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden}.clearfix:after{clear:both}.centerRelContent{margin:0 auto}*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}@media screen and (min-width: 769px){html{background-color:#fff;font-family:arial,monaco}body{max-width:960px;background-color:#fff;font-family:arial,monaco}}@media screen and (max-width: 768px){html{background-color:red;font-family:arial,monaco}}@media screen and (max-width: 480px){html{background-color:#ff0;font-family:arial,monaco}}
